.sprite {
    background-image: url(../img/bigsprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite_flag_congo_big {
    width: 26px;
    height: 26px;
    background-position: -5px -5px;
}

.sprite_flag_congo_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -5px;
}

.sprite_flag_abkhazia_big {
    width: 26px;
    height: 26px;
    background-position: -77px -5px;
}

.sprite_flag_abkhazia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -5px;
}

.sprite_flag_aland_islands_big {
    width: 26px;
    height: 26px;
    background-position: -149px -5px;
}

.sprite_flag_aland_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -5px;
}

.sprite_flag_algeria_big {
    width: 26px;
    height: 26px;
    background-position: -221px -5px;
}

.sprite_flag_algeria_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -5px;
}

.sprite_flag_antigua_and_barbuda_big {
    width: 26px;
    height: 26px;
    background-position: -293px -5px;
}

.sprite_flag_antigua_and_barbuda_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -5px;
}

.sprite_flag_argentinas_big {
    width: 26px;
    height: 26px;
    background-position: -365px -5px;
}

.sprite_flag_argentinas_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -5px;
}

.sprite_flag_armenia_big {
    width: 26px;
    height: 26px;
    background-position: -437px -5px;
}

.sprite_flag_armenia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -5px;
}

.sprite_flag_aruba_big {
    width: 26px;
    height: 26px;
    background-position: -509px -5px;
}

.sprite_flag_aruba_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -5px;
}

.sprite_flag_australia_big {
    width: 26px;
    height: 26px;
    background-position: -581px -5px;
}

.sprite_flag_australia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -5px;
}

.sprite_flag_austria_big {
    width: 26px;
    height: 26px;
    background-position: -653px -5px;
}

.sprite_flag_austria_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -5px;
}

.sprite_flag_azerbaijan_big {
    width: 26px;
    height: 26px;
    background-position: -5px -41px;
}

.sprite_flag_azerbaijan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -41px;
}

.sprite_flag_bagamas_big {
    width: 26px;
    height: 26px;
    background-position: -77px -41px;
}

.sprite_flag_bagamas_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -41px;
}

.sprite_flag_bahrain_big {
    width: 26px;
    height: 26px;
    background-position: -149px -41px;
}

.sprite_flag_bahrain_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -41px;
}

.sprite_flag_bangladesh_big {
    width: 26px;
    height: 26px;
    background-position: -221px -41px;
}

.sprite_flag_bangladesh_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -41px;
}

.sprite_flag_barbados_big {
    width: 26px;
    height: 26px;
    background-position: -293px -41px;
}

.sprite_flag_barbados_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -41px;
}

.sprite_flag_bashkortostan_big {
    width: 26px;
    height: 26px;
    background-position: -365px -41px;
}

.sprite_flag_bashkortostan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -41px;
}

.sprite_flag_basque_big {
    width: 26px;
    height: 26px;
    background-position: -437px -41px;
}

.sprite_flag_basque_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -41px;
}

.sprite_flag_bavaria_big {
    width: 26px;
    height: 26px;
    background-position: -509px -41px;
}

.sprite_flag_bavaria_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -41px;
}

.sprite_flag_belgium_big {
    width: 26px;
    height: 26px;
    background-position: -581px -41px;
}

.sprite_flag_belgium_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -41px;
}

.sprite_flag_benin_big {
    width: 26px;
    height: 26px;
    background-position: -653px -41px;
}

.sprite_flag_benin_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -41px;
}

.sprite_flag_bolivia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -77px;
}

.sprite_flag_bolivia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -77px;
}

.sprite_flag_bonaire_big {
    width: 26px;
    height: 26px;
    background-position: -77px -77px;
}

.sprite_flag_bonaire_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -77px;
}

.sprite_flag_bosnia_and_herzegovina_big {
    width: 26px;
    height: 26px;
    background-position: -149px -77px;
}

.sprite_flag_bosnia_and_herzegovina_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -77px;
}

.sprite_flag_botsvana_big {
    width: 26px;
    height: 26px;
    background-position: -221px -77px;
}

.sprite_flag_botsvana_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -77px;
}

.sprite_flag_brazil_big {
    width: 26px;
    height: 26px;
    background-position: -293px -77px;
}

.sprite_flag_brazil_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -77px;
}

.sprite_flag_british_indian_ocean_territory_big {
    width: 26px;
    height: 26px;
    background-position: -365px -77px;
}

.sprite_flag_british_indian_ocean_territory_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -77px;
}

.sprite_flag_bulgaria_big {
    width: 26px;
    height: 26px;
    background-position: -437px -77px;
}

.sprite_flag_bulgaria_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -77px;
}

.sprite_flag_burkina_fason_big {
    width: 26px;
    height: 26px;
    background-position: -509px -77px;
}

.sprite_flag_burkina_fason_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -77px;
}

.sprite_flag_burundi_big {
    width: 26px;
    height: 26px;
    background-position: -581px -77px;
}

.sprite_flag_burundi_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -77px;
}

.sprite_flag_cabo_verde_big {
    width: 26px;
    height: 26px;
    background-position: -653px -77px;
}

.sprite_flag_cabo_verde_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -77px;
}

.sprite_flag_cameroon_big {
    width: 26px;
    height: 26px;
    background-position: -5px -113px;
}

.sprite_flag_cameroon_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -113px;
}

.sprite_flag_canada_big {
    width: 26px;
    height: 26px;
    background-position: -77px -113px;
}

.sprite_flag_canada_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -113px;
}

.sprite_flag_central_african_republict_big {
    width: 26px;
    height: 26px;
    background-position: -149px -113px;
}

.sprite_flag_central_african_republict_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -113px;
}

.sprite_flag_chile_big {
    width: 26px;
    height: 26px;
    background-position: -221px -113px;
}

.sprite_flag_chile_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -113px;
}

.sprite_flag_china_big {
    width: 26px;
    height: 26px;
    background-position: -293px -113px;
}

.sprite_flag_china_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -113px;
}

.sprite_flag_city_london_big {
    width: 26px;
    height: 26px;
    background-position: -365px -113px;
}

.sprite_flag_city_london_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -113px;
}

.sprite_flag_comoros_big {
    width: 26px;
    height: 26px;
    background-position: -437px -113px;
}

.sprite_flag_comoros_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -113px;
}

.sprite_flag_costa_rica_big {
    width: 25px;
    height: 26px;
    background-position: -509px -113px;
}

.sprite_flag_costa_rica_big_bw {
    width: 25px;
    height: 26px;
    background-position: -544px -113px;
}

.sprite_flag_crimea_big {
    width: 26px;
    height: 26px;
    background-position: -579px -113px;
}

.sprite_flag_crimea_big_bw {
    width: 26px;
    height: 26px;
    background-position: -615px -113px;
}

.sprite_flag_crimean_tatars_big {
    width: 26px;
    height: 26px;
    background-position: -651px -113px;
}

.sprite_flag_crimean_tatars_big_bw {
    width: 26px;
    height: 26px;
    background-position: -687px -113px;
}

.sprite_flag_cuba_big {
    width: 26px;
    height: 26px;
    background-position: -5px -149px;
}

.sprite_flag_cuba_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -149px;
}

.sprite_flag_cyprus_big {
    width: 26px;
    height: 26px;
    background-position: -77px -149px;
}

.sprite_flag_cyprus_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -149px;
}

.sprite_flag_czech_republic_big {
    width: 26px;
    height: 26px;
    background-position: -149px -149px;
}

.sprite_flag_czech_republic_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -149px;
}

.sprite_flag_denmark_big {
    width: 26px;
    height: 26px;
    background-position: -221px -149px;
}

.sprite_flag_denmark_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -149px;
}

.sprite_flag_djibouti_big {
    width: 26px;
    height: 26px;
    background-position: -293px -149px;
}

.sprite_flag_djibouti_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -149px;
}

.sprite_flag_dominican_republic_big {
    width: 26px;
    height: 26px;
    background-position: -365px -149px;
}

.sprite_flag_dominican_republic_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -149px;
}

.sprite_flag_dr_congo_big {
    width: 26px;
    height: 26px;
    background-position: -437px -149px;
}

.sprite_flag_dr_congo_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -149px;
}

.sprite_flag_ecuador_big {
    width: 26px;
    height: 26px;
    background-position: -509px -149px;
}

.sprite_flag_ecuador_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -149px;
}

.sprite_flag_england_big {
    width: 26px;
    height: 26px;
    background-position: -581px -149px;
}

.sprite_flag_england_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -149px;
}

.sprite_flag_equatorial_guinea_big {
    width: 26px;
    height: 26px;
    background-position: -653px -149px;
}

.sprite_flag_equatorial_guinea_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -149px;
}

.sprite_flag_estonia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -185px;
}

.sprite_flag_estonia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -185px;
}

.sprite_flag_ethiopia_big {
    width: 26px;
    height: 26px;
    background-position: -77px -185px;
}

.sprite_flag_ethiopia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -185px;
}

.sprite_flag_european_union_big {
    width: 26px;
    height: 26px;
    background-position: -149px -185px;
}

.sprite_flag_european_union_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -185px;
}

.sprite_flag_faroe_islands_big {
    width: 26px;
    height: 26px;
    background-position: -221px -185px;
}

.sprite_flag_faroe_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -185px;
}

.sprite_flag_finland_big {
    width: 26px;
    height: 26px;
    background-position: -293px -185px;
}

.sprite_flag_finland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -185px;
}

.sprite_flag_france_big {
    width: 26px;
    height: 26px;
    background-position: -365px -185px;
}

.sprite_flag_france_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -185px;
}

.sprite_flag_french_guiana_big {
    width: 26px;
    height: 26px;
    background-position: -437px -185px;
}

.sprite_flag_french_guiana_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -185px;
}

.sprite_flag_frontier_ukraine_big {
    width: 26px;
    height: 26px;
    background-position: -509px -185px;
}

.sprite_flag_frontier_ukraine_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -185px;
}

.sprite_flag_gabon_big {
    width: 26px;
    height: 26px;
    background-position: -581px -185px;
}

.sprite_flag_gabon_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -185px;
}

.sprite_flag_gagauzia_big {
    width: 26px;
    height: 26px;
    background-position: -653px -185px;
}

.sprite_flag_gagauzia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -185px;
}

.sprite_flag_gambia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -221px;
}

.sprite_flag_gambia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -221px;
}

.sprite_flag_georgia_big {
    width: 26px;
    height: 26px;
    background-position: -77px -221px;
}

.sprite_flag_georgia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -221px;
}

.sprite_flag_germany_big {
    width: 26px;
    height: 26px;
    background-position: -149px -221px;
}

.sprite_flag_germany_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -221px;
}

.sprite_flag_ghana_big {
    width: 26px;
    height: 26px;
    background-position: -221px -221px;
}

.sprite_flag_ghana_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -221px;
}

.sprite_flag_greece_big {
    width: 26px;
    height: 26px;
    background-position: -293px -221px;
}

.sprite_flag_greece_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -221px;
}

.sprite_flag_greenland_big {
    width: 26px;
    height: 26px;
    background-position: -365px -221px;
}

.sprite_flag_greenland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -221px;
}

.sprite_flag_grenada_big {
    width: 26px;
    height: 26px;
    background-position: -437px -221px;
}

.sprite_flag_grenada_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -221px;
}

.sprite_flag_guinea_bissau_big {
    width: 26px;
    height: 26px;
    background-position: -509px -221px;
}

.sprite_flag_guinea_bissau_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -221px;
}

.sprite_flag_guinea_big {
    width: 26px;
    height: 26px;
    background-position: -581px -221px;
}

.sprite_flag_guinea_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -221px;
}

.sprite_flag_guyana_big {
    width: 26px;
    height: 26px;
    background-position: -653px -221px;
}

.sprite_flag_guyana_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -221px;
}

.sprite_flag_hawaii_big {
    width: 26px;
    height: 26px;
    background-position: -5px -257px;
}

.sprite_flag_hawaii_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -257px;
}

.sprite_flag_heard_island_and_mcdonald_islands_big {
    width: 26px;
    height: 26px;
    background-position: -77px -257px;
}

.sprite_flag_heard_island_and_mcdonald_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -257px;
}

.sprite_flag_hijaz_big {
    width: 26px;
    height: 26px;
    background-position: -149px -257px;
}

.sprite_flag_hijaz_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -257px;
}

.sprite_flag_honduras_big {
    width: 26px;
    height: 26px;
    background-position: -221px -257px;
}

.sprite_flag_honduras_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -257px;
}

.sprite_flag_hong_kong_big {
    width: 26px;
    height: 26px;
    background-position: -293px -257px;
}

.sprite_flag_hong_kong_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -257px;
}

.sprite_flag_hungary_big {
    width: 26px;
    height: 26px;
    background-position: -365px -257px;
}

.sprite_flag_hungary_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -257px;
}

.sprite_flag_iceland_big {
    width: 26px;
    height: 26px;
    background-position: -437px -257px;
}

.sprite_flag_iceland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -257px;
}

.sprite_flag_india_big {
    width: 26px;
    height: 26px;
    background-position: -509px -257px;
}

.sprite_flag_india_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -257px;
}

.sprite_flag_indonesia_big {
    width: 26px;
    height: 26px;
    background-position: -581px -257px;
}

.sprite_flag_indonesia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -257px;
}

.sprite_flag_iran_big {
    width: 26px;
    height: 26px;
    background-position: -653px -257px;
}

.sprite_flag_iran_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -257px;
}

.sprite_flag_iraq_big {
    width: 26px;
    height: 26px;
    background-position: -5px -293px;
}

.sprite_flag_iraq_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -293px;
}

.sprite_flag_ireland_big {
    width: 26px;
    height: 26px;
    background-position: -77px -293px;
}

.sprite_flag_ireland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -293px;
}

.sprite_flag_israel_big {
    width: 26px;
    height: 26px;
    background-position: -149px -293px;
}

.sprite_flag_israel_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -293px;
}

.sprite_flag_italy_big {
    width: 26px;
    height: 26px;
    background-position: -221px -293px;
}

.sprite_flag_italy_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -293px;
}

.sprite_flag_ivory_coast_big {
    width: 26px;
    height: 26px;
    background-position: -293px -293px;
}

.sprite_flag_ivory_coast_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -293px;
}

.sprite_flag_jamaica_big {
    width: 26px;
    height: 26px;
    background-position: -365px -293px;
}

.sprite_flag_jamaica_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -293px;
}

.sprite_flag_japan_big {
    width: 26px;
    height: 26px;
    background-position: -437px -293px;
}

.sprite_flag_japan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -293px;
}

.sprite_flag_jordan_big {
    width: 26px;
    height: 26px;
    background-position: -509px -293px;
}

.sprite_flag_jordan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -293px;
}

.sprite_flag_kenya_big {
    width: 26px;
    height: 26px;
    background-position: -581px -293px;
}

.sprite_flag_kenya_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -293px;
}

.sprite_flag_komi_republic_big {
    width: 26px;
    height: 26px;
    background-position: -653px -293px;
}

.sprite_flag_komi_republic_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -293px;
}

.sprite_flag_korea_big {
    width: 26px;
    height: 26px;
    background-position: -5px -329px;
}

.sprite_flag_korea_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -329px;
}

.sprite_flag_kosovo_big {
    width: 26px;
    height: 26px;
    background-position: -77px -329px;
}

.sprite_flag_kosovo_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -329px;
}

.sprite_flag_kurasawa_big {
    width: 26px;
    height: 26px;
    background-position: -149px -329px;
}

.sprite_flag_kurasawa_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -329px;
}

.sprite_flag_kuwait_big {
    width: 26px;
    height: 26px;
    background-position: -221px -329px;
}

.sprite_flag_kuwait_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -329px;
}

.sprite_flag_kyrgyzstan_big {
    width: 26px;
    height: 26px;
    background-position: -293px -329px;
}

.sprite_flag_kyrgyzstan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -329px;
}

.sprite_flag_lao_big {
    width: 26px;
    height: 26px;
    background-position: -365px -329px;
}

.sprite_flag_lao_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -329px;
}

.sprite_flag_latvia_big {
    width: 26px;
    height: 26px;
    background-position: -437px -329px;
}

.sprite_flag_latvia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -329px;
}

.sprite_flag_lesotho_big {
    width: 26px;
    height: 26px;
    background-position: -509px -329px;
}

.sprite_flag_lesotho_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -329px;
}

.sprite_flag_liberia_big {
    width: 26px;
    height: 26px;
    background-position: -581px -329px;
}

.sprite_flag_liberia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -329px;
}

.sprite_flag_libya_big {
    width: 26px;
    height: 26px;
    background-position: -653px -329px;
}

.sprite_flag_libya_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -329px;
}

.sprite_flag_lithuania_big {
    width: 26px;
    height: 26px;
    background-position: -5px -365px;
}

.sprite_flag_lithuanial_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -365px;
}

.sprite_flag_luxembourg_big {
    width: 26px;
    height: 26px;
    background-position: -77px -365px;
}

.sprite_flag_luxembourg_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -365px;
}

.sprite_flag_macao_big {
    width: 26px;
    height: 26px;
    background-position: -149px -365px;
}

.sprite_flag_macao_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -365px;
}

.sprite_flag_macedonia_big {
    width: 26px;
    height: 26px;
    background-position: -221px -365px;
}

.sprite_flag_macedonia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -365px;
}

.sprite_flag_madagascar_big {
    width: 26px;
    height: 26px;
    background-position: -293px -365px;
}

.sprite_flag_madagascar_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -365px;
}

.sprite_flag_madeira_big {
    width: 26px;
    height: 26px;
    background-position: -365px -365px;
}

.sprite_flag_madeira_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -365px;
}

.sprite_flag_malawi_big {
    width: 26px;
    height: 26px;
    background-position: -437px -365px;
}

.sprite_flag_malawi_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -365px;
}

.sprite_flag_malaysia_big {
    width: 26px;
    height: 26px;
    background-position: -509px -365px;
}

.sprite_flag_malaysia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -365px;
}

.sprite_flag_maldives_big {
    width: 26px;
    height: 26px;
    background-position: -581px -365px;
}

.sprite_flag_maldives_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -365px;
}

.sprite_flag_mali_big {
    width: 26px;
    height: 26px;
    background-position: -653px -365px;
}

.sprite_flag_mali_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -365px;
}

.sprite_flag_malta_big {
    width: 26px;
    height: 26px;
    background-position: -5px -401px;
}

.sprite_flag_malta_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -401px;
}

.sprite_flag_marshall_islands_big {
    width: 26px;
    height: 26px;
    background-position: -77px -401px;
}

.sprite_flag_marshall_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -401px;
}

.sprite_flag_mauritania_big {
    width: 26px;
    height: 26px;
    background-position: -149px -401px;
}

.sprite_flag_mauritania_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -401px;
}

.sprite_flag_mauritius_big {
    width: 26px;
    height: 26px;
    background-position: -221px -401px;
}

.sprite_flag_mauritius_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -401px;
}

.sprite_flag_micronesia_big {
    width: 26px;
    height: 26px;
    background-position: -293px -401px;
}

.sprite_flag_micronesia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -401px;
}

.sprite_flag_monaco_big {
    width: 26px;
    height: 26px;
    background-position: -365px -401px;
}

.sprite_flag_monaco_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -401px;
}

.sprite_flag_mongolia_big {
    width: 26px;
    height: 26px;
    background-position: -437px -401px;
}

.sprite_flag_mongolia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -401px;
}

.sprite_flag_morocco_big {
    width: 26px;
    height: 26px;
    background-position: -509px -401px;
}

.sprite_flag_morocco_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -401px;
}

.sprite_flag_myanmar_big {
    width: 26px;
    height: 26px;
    background-position: -581px -401px;
}

.sprite_flag_myanmar_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -401px;
}

.sprite_flag_nagorno_karabakh_big {
    width: 26px;
    height: 26px;
    background-position: -653px -401px;
}

.sprite_flag_nagorno_karabakh_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -401px;
}

.sprite_flag_namibia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -437px;
}

.sprite_flag_namibia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -437px;
}

.sprite_flag_nauru_big {
    width: 26px;
    height: 26px;
    background-position: -77px -437px;
}

.sprite_flag_nauru_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -437px;
}

.sprite_flag_nepal_big {
    width: 26px;
    height: 26px;
    background-position: -149px -437px;
}

.sprite_flag_nepal_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -437px;
}

.sprite_flag_netherlands_big {
    width: 26px;
    height: 26px;
    background-position: -221px -437px;
}

.sprite_flag_netherlands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -437px;
}

.sprite_flag_niger_big {
    width: 26px;
    height: 26px;
    background-position: -293px -437px;
}

.sprite_flag_niger_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -437px;
}

.sprite_flag_nigeria_big {
    width: 26px;
    height: 26px;
    background-position: -365px -437px;
}

.sprite_flag_nigeria_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -437px;
}

.sprite_flag_niue_big {
    width: 26px;
    height: 26px;
    background-position: -437px -437px;
}

.sprite_flag_niue_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -437px;
}

.sprite_flag_nortern_korea_big {
    width: 26px;
    height: 26px;
    background-position: -509px -437px;
}

.sprite_flag_nortern_korea_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -437px;
}

.sprite_flag_norway_big {
    width: 26px;
    height: 26px;
    background-position: -581px -437px;
}

.sprite_flag_norway_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -437px;
}

.sprite_flag_pacific_ocean_big {
    width: 26px;
    height: 26px;
    background-position: -653px -437px;
}

.sprite_flag_pacific_ocean_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -437px;
}

.sprite_flag_pakistan_big {
    width: 26px;
    height: 26px;
    background-position: -5px -473px;
}

.sprite_flag_pakistan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -473px;
}

.sprite_flag_palau_big {
    width: 26px;
    height: 26px;
    background-position: -77px -473px;
}

.sprite_flag_palau_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -473px;
}

.sprite_flag_palestine_big {
    width: 25px;
    height: 26px;
    background-position: -149px -473px;
}

.sprite_flag_palestine_big_bw {
    width: 26px;
    height: 26px;
    background-position: -184px -473px;
}

.sprite_flag_paraguay_big {
    width: 26px;
    height: 26px;
    background-position: -220px -473px;
}

.sprite_flag_paraguay_big_bw {
    width: 26px;
    height: 26px;
    background-position: -256px -473px;
}

.sprite_flag_peru_big {
    width: 26px;
    height: 26px;
    background-position: -292px -473px;
}

.sprite_flag_peru_big_bw {
    width: 26px;
    height: 26px;
    background-position: -328px -473px;
}

.sprite_flag_philippines_big {
    width: 26px;
    height: 26px;
    background-position: -364px -473px;
}

.sprite_flag_philippines_big_bw {
    width: 26px;
    height: 26px;
    background-position: -400px -473px;
}

.sprite_flag_poland_big {
    width: 26px;
    height: 26px;
    background-position: -436px -473px;
}

.sprite_flag_poland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -472px -473px;
}

.sprite_flag_puerto_rico_big {
    width: 26px;
    height: 26px;
    background-position: -508px -473px;
}

.sprite_flag_puerto_rico_big_bw {
    width: 26px;
    height: 26px;
    background-position: -544px -473px;
}

.sprite_flag_qatar_big {
    width: 26px;
    height: 26px;
    background-position: -580px -473px;
}

.sprite_flag_qatar_big_bw {
    width: 26px;
    height: 26px;
    background-position: -616px -473px;
}

.sprite_flag_romania_big {
    width: 26px;
    height: 26px;
    background-position: -652px -473px;
}

.sprite_flag_romania_big_bw {
    width: 26px;
    height: 26px;
    background-position: -688px -473px;
}

.sprite_flag_russia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -509px;
}

.sprite_flag_russia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -509px;
}

.sprite_flag_rwanda_big {
    width: 26px;
    height: 26px;
    background-position: -77px -509px;
}

.sprite_flag_rwanda_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -509px;
}

.sprite_flag_saba_big {
    width: 26px;
    height: 26px;
    background-position: -149px -509px;
}

.sprite_flag_saba_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -509px;
}

.sprite_flag_saint_kitts_and_nevis_big {
    width: 26px;
    height: 26px;
    background-position: -221px -509px;
}

.sprite_flag_saint_kitts_and_nevis_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -509px;
}

.sprite_flag_saint_martin_big {
    width: 26px;
    height: 26px;
    background-position: -293px -509px;
}

.sprite_flag_saint_martin_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -509px;
}

.sprite_flag_samoa_big {
    width: 26px;
    height: 26px;
    background-position: -365px -509px;
}

.sprite_flag_samoa_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -509px;
}

.sprite_flag_san_tome_big {
    width: 26px;
    height: 26px;
    background-position: -437px -509px;
}

.sprite_flag_san_tome_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -509px;
}

.sprite_flag_scotland_big {
    width: 26px;
    height: 26px;
    background-position: -509px -509px;
}

.sprite_flag_scotland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -509px;
}

.sprite_flag_sea_ukraine_big {
    width: 26px;
    height: 26px;
    background-position: -581px -509px;
}

.sprite_flag_sea_ukraine_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -509px;
}

.sprite_flag_senegal_big {
    width: 26px;
    height: 26px;
    background-position: -653px -509px;
}

.sprite_flag_senegal_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -509px;
}

.sprite_flag_serbia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -545px;
}

.sprite_flag_serbia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -545px;
}

.sprite_flag_seychelles_big {
    width: 26px;
    height: 26px;
    background-position: -77px -545px;
}

.sprite_flag_seychelles_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -545px;
}

.sprite_flag_sierra_leone_big {
    width: 26px;
    height: 26px;
    background-position: -149px -545px;
}

.sprite_flag_sierra_leone_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -545px;
}

.sprite_flag_singapores_big {
    width: 26px;
    height: 26px;
    background-position: -221px -545px;
}

.sprite_flag_singapores_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -545px;
}

.sprite_flag_slovakia_big {
    width: 26px;
    height: 26px;
    background-position: -293px -545px;
}

.sprite_flag_slovakia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -545px;
}

.sprite_flag_slovenia_big {
    width: 26px;
    height: 26px;
    background-position: -365px -545px;
}

.sprite_flag_slovenia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -545px;
}

.sprite_flag_solomon_islands_big {
    width: 26px;
    height: 26px;
    background-position: -437px -545px;
}

.sprite_flag_solomon_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -545px;
}

.sprite_flag_somalia_big {
    width: 26px;
    height: 26px;
    background-position: -509px -545px;
}

.sprite_flag_somalia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -545px;
}

.sprite_flag_south_africa_big {
    width: 26px;
    height: 26px;
    background-position: -581px -545px;
}

.sprite_flag_south_africa_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -545px;
}

.sprite_flag_south_ossetia_big {
    width: 26px;
    height: 26px;
    background-position: -653px -545px;
}

.sprite_flag_south_ossetia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -545px;
}

.sprite_flag_south_sudan_big {
    width: 26px;
    height: 26px;
    background-position: -5px -581px;
}

.sprite_flag_south_sudan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -581px;
}

.sprite_flag_spain_big {
    width: 26px;
    height: 26px;
    background-position: -77px -581px;
}

.sprite_flag_spain_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -581px;
}

.sprite_flag_st_eustatius_big {
    width: 26px;
    height: 26px;
    background-position: -149px -581px;
}

.sprite_flag_st_eustatius_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -581px;
}

.sprite_flag_st_guernsey_big {
    width: 26px;
    height: 26px;
    background-position: -221px -581px;
}

.sprite_flag_st_guernsey_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -581px;
}

.sprite_flag_st_lucia_big {
    width: 26px;
    height: 26px;
    background-position: -293px -581px;
}

.sprite_flag_st_lucia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -581px;
}

.sprite_flag_st_vincent_big {
    width: 26px;
    height: 26px;
    background-position: -365px -581px;
}

.sprite_flag_st_vincent_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -581px;
}

.sprite_flag_suriname_big {
    width: 26px;
    height: 26px;
    background-position: -437px -581px;
}

.sprite_flag_suriname_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -581px;
}

.sprite_flag_swedena_big {
    width: 26px;
    height: 26px;
    background-position: -509px -581px;
}

.sprite_flag_swedena_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -581px;
}

.sprite_flag_switzerland_big {
    width: 26px;
    height: 26px;
    background-position: -581px -581px;
}

.sprite_flag_switzerland_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -581px;
}

.sprite_flag_syrian_arab_republic_big {
    width: 26px;
    height: 26px;
    background-position: -653px -581px;
}

.sprite_flag_syrian_arab_republic_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -581px;
}

.sprite_flag_taiwan_big {
    width: 26px;
    height: 26px;
    background-position: -5px -617px;
}

.sprite_flag_taiwan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -617px;
}

.sprite_flag_tajikistan_big {
    width: 26px;
    height: 26px;
    background-position: -77px -617px;
}

.sprite_flag_tajikistan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -617px;
}

.sprite_flag_tanzania_big {
    width: 26px;
    height: 26px;
    background-position: -149px -617px;
}

.sprite_flag_tanzania_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -617px;
}

.sprite_flag_tatarstan_big {
    width: 26px;
    height: 26px;
    background-position: -221px -617px;
}

.sprite_flag_tatarstan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -617px;
}

.sprite_flag_thailand_big {
    width: 26px;
    height: 26px;
    background-position: -293px -617px;
}

.sprite_flag_thailand_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -617px;
}

.sprite_flag_timor_leste_big {
    width: 26px;
    height: 26px;
    background-position: -365px -617px;
}

.sprite_flag_timor_leste_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -617px;
}

.sprite_flag_togo_big {
    width: 26px;
    height: 26px;
    background-position: -437px -617px;
}

.sprite_flag_togo_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -617px;
}

.sprite_flag_tonga_big {
    width: 26px;
    height: 26px;
    background-position: -509px -617px;
}

.sprite_flag_tonga_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -617px;
}

.sprite_flag_trinidad_and_tobago_big {
    width: 26px;
    height: 26px;
    background-position: -581px -617px;
}

.sprite_flag_trinidad_and_tobago_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -617px;
}

.sprite_flag_trnc_big {
    width: 26px;
    height: 26px;
    background-position: -653px -617px;
}

.sprite_flag_trnc_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -617px;
}

.sprite_flag_tunisia_big {
    width: 26px;
    height: 26px;
    background-position: -5px -653px;
}

.sprite_flag_tunisia_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -653px;
}

.sprite_flag_turkey_big {
    width: 26px;
    height: 26px;
    background-position: -77px -653px;
}

.sprite_flag_turkey_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -653px;
}

.sprite_flag_tuvalu_big {
    width: 26px;
    height: 26px;
    background-position: -149px -653px;
}

.sprite_flag_tuvalu_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -653px;
}

.sprite_flag_ukraine_big {
    width: 26px;
    height: 26px;
    background-position: -221px -653px;
}

.sprite_flag_ukraine_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -653px;
}

.sprite_flag_united_arab_emirates_big {
    width: 26px;
    height: 26px;
    background-position: -293px -653px;
}

.sprite_flag_united_arab_emirates_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -653px;
}

.sprite_flag_united_kingdom_big {
    width: 26px;
    height: 26px;
    background-position: -365px -653px;
}

.sprite_flag_united_kingdom_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -653px;
}

.sprite_flag_unklnow3_big {
    width: 26px;
    height: 26px;
    background-position: -437px -653px;
}

.sprite_flag_unklnow3_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -653px;
}

.sprite_flag_unknow2_big {
    width: 26px;
    height: 26px;
    background-position: -509px -653px;
}

.sprite_flag_unknow2_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -653px;
}

.sprite_flag_unknow5_big {
    width: 26px;
    height: 26px;
    background-position: -581px -653px;
}

.sprite_flag_unknow5_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -653px;
}

.sprite_flag_unknow6_big {
    width: 26px;
    height: 26px;
    background-position: -653px -653px;
}

.sprite_flag_unknow6_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -653px;
}

.sprite_flag_unknow7_big {
    width: 26px;
    height: 26px;
    background-position: -5px -689px;
}

.sprite_flag_unknow7_big_bw {
    width: 26px;
    height: 26px;
    background-position: -41px -689px;
}

.sprite_flag_unknow_big {
    width: 26px;
    height: 26px;
    background-position: -77px -689px;
}

.sprite_flag_unknow_big_bw {
    width: 26px;
    height: 26px;
    background-position: -113px -689px;
}

.sprite_flag_uruguayl_big {
    width: 26px;
    height: 26px;
    background-position: -149px -689px;
}

.sprite_flag_uruguayl_big_bw {
    width: 26px;
    height: 26px;
    background-position: -185px -689px;
}

.sprite_flag_usa_big {
    width: 26px;
    height: 26px;
    background-position: -221px -689px;
}

.sprite_flag_usa_big_bw {
    width: 26px;
    height: 26px;
    background-position: -257px -689px;
}

.sprite_flag_uzbekistan_big {
    width: 26px;
    height: 26px;
    background-position: -293px -689px;
}

.sprite_flag_uzbekistan_big_bw {
    width: 26px;
    height: 26px;
    background-position: -329px -689px;
}

.sprite_flag_vietnam_big {
    width: 26px;
    height: 26px;
    background-position: -365px -689px;
}

.sprite_flag_vietnam_big_bw {
    width: 26px;
    height: 26px;
    background-position: -401px -689px;
}

.sprite_flag_wallis_and_futuna_islands_big {
    width: 26px;
    height: 26px;
    background-position: -437px -689px;
}

.sprite_flag_wallis_and_futuna_islands_big_bw {
    width: 26px;
    height: 26px;
    background-position: -473px -689px;
}

.sprite_flag_western_sahara2_big {
    width: 26px;
    height: 26px;
    background-position: -509px -689px;
}

.sprite_flag_western_sahara2_big_bw {
    width: 26px;
    height: 26px;
    background-position: -545px -689px;
}

.sprite_flag_western_sahara_big {
    width: 26px;
    height: 26px;
    background-position: -581px -689px;
}

.sprite_flag_western_sahara_big_bw {
    width: 26px;
    height: 26px;
    background-position: -617px -689px;
}

.sprite_flag_yemen_big {
    width: 26px;
    height: 26px;
    background-position: -653px -689px;
}

.sprite_flag_yemen_big_bw {
    width: 26px;
    height: 26px;
    background-position: -689px -689px;
}

.sprite_flag_zanzibar_big {
    width: 26px;
    height: 26px;
    background-position: -725px -5px;
}

.sprite_flag_zanzibar_big_bw {
    width: 26px;
    height: 26px;
    background-position: -725px -41px;
}
