/*
    main styles
    version: 16.11.2015

    not-found

*/

/* --------------- not-found --------------- */
.not-found .site__caption{
    margin-bottom: 0;
    z-index: 2;
}
.not-found__wrap{
    position: relative;
    color: #666666;
    font-size: 18px;
    padding: 265px 15px 36px 15px;
}
.not-found__wrap:after{
    content: "";
    background: url("../img/back404.jpg") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
}
.not-found__wrap > div{
    position: relative;
    z-index: 2;
    text-align: left;
}
.not-found h2{
    font-family: 'Flama-Bold', sans-serif;
    font-weight: 400;
    color: #31b8df;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 18px;
}
.not-found h3{
    font-size: 16px;
    font-family: 'Flama-Bold', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
.not-found a{
    display: inline-block;
    background: #31b8df;
    color: #fff;
    font-size: 12px;
    font-family: "Flama-Light", sans-serif;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: background 300ms ease-in-out 100ms;
    transition: background 300ms ease-in-out 100ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.not-found p{
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 11px;
    text-align: center;
}
.not-found p:first-of-type{
    margin-bottom: 17px;
    text-align: left;
}
.not-found a:hover{
    background: #499cdf;
}
/* --------------- /not-found --------------- */

@media (min-width: 768px){

    /* --------------- not-found --------------- */
    .not-found__wrap{
        padding: 610px 15px 50px 15px;
    }
    .not-found h2{
        font-size: 48px;
        line-height: 57px;
        margin-bottom: 26px;
    }
    .not-found h3{
        font-size: 24px;
        line-height: 29px;
    }
    .not-found p{
        font-size: 18px;
        margin-bottom: 3px;
        line-height: 23px;
    }
    .not-found p:first-of-type{
        margin-bottom: 19px;
    }
    /* --------------- /not-found --------------- */

}

@media (min-width: 1024px){

    /* --------------- not-found --------------- */
    .not-found .site__caption{
        display: none;
    }
    .not-found__wrap{
        height: 700px;
        padding: 54px 0 0 575px;
    }
    .not-found__wrap:after{
        top: -26px;
        left: -131px;
        width: 827px;
        height: 677px;
    }
    .not-found p{
        text-align: left;
    }
    .not-found p:first-of-type{
        text-align: left;
    }
    .not-found a{
        width: 107px;
    }
    /* --------------- /not-found --------------- */

}