.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite_flag_abkhazia_small {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite_flag_abkhazia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite_flag_aland_islands_small {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}

.sprite_flag_aland_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -5px;
}

.sprite_flag_algeria_small {
    width: 20px;
    height: 20px;
    background-position: -125px -5px;
}

.sprite_flag_algeria_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -5px;
}

.sprite_flag_antigua_and_barbuda_small {
    width: 20px;
    height: 20px;
    background-position: -185px -5px;
}

.sprite_flag_antigua_and_barbuda_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -5px;
}

.sprite_flag_argentina_small {
    width: 20px;
    height: 20px;
    background-position: -245px -5px;
}

.sprite_flag_argentina_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -5px;
}

.sprite_flag_armenia_small {
    width: 20px;
    height: 20px;
    background-position: -305px -5px;
}

.sprite_flag_armenia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -5px;
}

.sprite_flag_aruba_small {
    width: 20px;
    height: 20px;
    background-position: -365px -5px;
}

.sprite_flag_aruba_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -5px;
}

.sprite_flag_australia_small {
    width: 20px;
    height: 20px;
    background-position: -425px -5px;
}

.sprite_flag_australia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -5px;
}

.sprite_flag_austria_small {
    width: 20px;
    height: 20px;
    background-position: -485px -5px;
}

.sprite_flag_austria_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -5px;
}

.sprite_flag_austrian_empire_small {
    width: 20px;
    height: 20px;
    background-position: -545px -5px;
}

.sprite_flag_austrian_empire_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -5px;
}

.sprite_flag_azerbaijan_small {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite_flag_azerbaijan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}

.sprite_flag_bahamas_small {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}

.sprite_flag_bahamas_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -35px;
}

.sprite_flag_bahrain_small {
    width: 20px;
    height: 20px;
    background-position: -125px -35px;
}

.sprite_flag_bahrain_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -35px;
}

.sprite_flag_bangladesh_small {
    width: 20px;
    height: 20px;
    background-position: -185px -35px;
}

.sprite_flag_bangladesh_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -35px;
}

.sprite_flag_barbados_small {
    width: 20px;
    height: 20px;
    background-position: -245px -35px;
}

.sprite_flag_barbados_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -35px;
}

.sprite_flag_bashkortostan_small {
    width: 20px;
    height: 20px;
    background-position: -305px -35px;
}

.sprite_flag_bashkortostan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -35px;
}

.sprite_flag_basque_small {
    width: 20px;
    height: 20px;
    background-position: -365px -35px;
}

.sprite_flag_basque_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -35px;
}

.sprite_flag_bayern_small {
    width: 20px;
    height: 20px;
    background-position: -425px -35px;
}

.sprite_flag_bayern_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -35px;
}

.sprite_flag_belgium_small {
    width: 20px;
    height: 20px;
    background-position: -485px -35px;
}

.sprite_flag_belgium_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -35px;
}

.sprite_flag_benin_small {
    width: 20px;
    height: 20px;
    background-position: -545px -35px;
}

.sprite_flag_benin_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -35px;
}

.sprite_flag_bolivia_small {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}

.sprite_flag_bolivia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -65px;
}

.sprite_flag_bonaire_small {
    width: 20px;
    height: 20px;
    background-position: -65px -65px;
}

.sprite_flag_bonaire_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -65px;
}

.sprite_flag_bosnia_and_herzegovina_small {
    width: 20px;
    height: 20px;
    background-position: -125px -65px;
}

.sprite_flag_bosnia_and_herzegovina_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -65px;
}

.sprite_flag_botswana_small {
    width: 20px;
    height: 20px;
    background-position: -185px -65px;
}

.sprite_flag_botswana_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -65px;
}

.sprite_flag_brazil_small {
    width: 20px;
    height: 20px;
    background-position: -245px -65px;
}

.sprite_flag_brazil_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -65px;
}

.sprite_flag_british_indian_ocean_territory_small {
    width: 20px;
    height: 20px;
    background-position: -305px -65px;
}

.sprite_flag_british_indian_ocean_territory_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -65px;
}

.sprite_flag_bulgaria_small {
    width: 20px;
    height: 20px;
    background-position: -365px -65px;
}

.sprite_flag_bulgaria_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -65px;
}

.sprite_flag_burkina_faso_small {
    width: 20px;
    height: 20px;
    background-position: -425px -65px;
}

.sprite_flag_burkina_faso_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -65px;
}

.sprite_flag_burundi_small {
    width: 20px;
    height: 20px;
    background-position: -485px -65px;
}

.sprite_flag_burundi_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -65px;
}

.sprite_flag_cabo_verde_smal_ {
    width: 20px;
    height: 20px;
    background-position: -545px -65px;
}

.sprite_flag_cabo_verde_smal_bwl {
    width: 20px;
    height: 20px;
    background-position: -575px -65px;
}

.sprite_flag_cameroon_small {
    width: 20px;
    height: 20px;
    background-position: -5px -95px;
}

.sprite_flag_cameroon_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -95px;
}

.sprite_flag_canada_small {
    width: 20px;
    height: 20px;
    background-position: -65px -95px;
}

.sprite_flag_canada_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -95px;
}

.sprite_flag_central_african_republic_small {
    width: 20px;
    height: 20px;
    background-position: -125px -95px;
}

.sprite_flag_central_african_republic_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -95px;
}

.sprite_flag_chile_small {
    width: 20px;
    height: 20px;
    background-position: -185px -95px;
}

.sprite_flag_chile_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -95px;
}

.sprite_flag_china_small {
    width: 20px;
    height: 20px;
    background-position: -245px -95px;
}

.sprite_flag_china_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -95px;
}

.sprite_flag_city_london_small {
    width: 20px;
    height: 20px;
    background-position: -305px -95px;
}

.sprite_flag_city_london_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -95px;
}

.sprite_flag_comoros_small {
    width: 20px;
    height: 20px;
    background-position: -365px -95px;
}

.sprite_flag_comoros_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -95px;
}

.sprite_flag_congo_small {
    width: 20px;
    height: 20px;
    background-position: -425px -95px;
}

.sprite_flag_congo_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -95px;
}

.sprite_flag_costa_rica_small {
    width: 20px;
    height: 20px;
    background-position: -485px -95px;
}

.sprite_flag_costa_rica_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -95px;
}

.sprite_flag_crimea_small {
    width: 20px;
    height: 20px;
    background-position: -545px -95px;
}

.sprite_flag_crimea_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -95px;
}

.sprite_flag_crimean_tatars_small {
    width: 20px;
    height: 20px;
    background-position: -5px -125px;
}

.sprite_flag_crimean_tatars_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -125px;
}

.sprite_flag_cuba_small {
    width: 20px;
    height: 20px;
    background-position: -65px -125px;
}

.sprite_flag_cuba_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -125px;
}

.sprite_flag_curacao_small {
    width: 20px;
    height: 20px;
    background-position: -125px -125px;
}

.sprite_flag_curacao_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -125px;
}

.sprite_flag_cyprus_small {
    width: 20px;
    height: 20px;
    background-position: -185px -125px;
}

.sprite_flag_cyprus_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -125px;
}

.sprite_flag_czech_republic_small {
    width: 20px;
    height: 20px;
    background-position: -245px -125px;
}

.sprite_flag_czech_republic_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -125px;
}

.sprite_flag_denmark_small {
    width: 20px;
    height: 20px;
    background-position: -305px -125px;
}

.sprite_flag_denmark_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -125px;
}

.sprite_flag_djibouti_small {
    width: 20px;
    height: 20px;
    background-position: -365px -125px;
}

.sprite_flag_djibouti_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -125px;
}

.sprite_flag_dominican_republic_small {
    width: 20px;
    height: 20px;
    background-position: -425px -125px;
}

.sprite_flag_dominican_republic_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -125px;
}

.sprite_flag_dr_congo_old_small {
    width: 20px;
    height: 20px;
    background-position: -485px -125px;
}

.sprite_flag_dr_congo_old_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -125px;
}

.sprite_flag_dr_congo_small {
    width: 20px;
    height: 20px;
    background-position: -545px -125px;
}

.sprite_flag_dr_congo_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -125px;
}

.sprite_flag_ecuador_small {
    width: 20px;
    height: 20px;
    background-position: -5px -155px;
}

.sprite_flag_ecuador_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -155px;
}

.sprite_flag_england_small {
    width: 20px;
    height: 20px;
    background-position: -65px -155px;
}

.sprite_flag_england_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -155px;
}

.sprite_flag_equatorial_guinea_small {
    width: 20px;
    height: 20px;
    background-position: -125px -155px;
}

.sprite_flag_equatorial_guinea_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -155px;
}

.sprite_flag_estonia_small {
    width: 20px;
    height: 20px;
    background-position: -185px -155px;
}

.sprite_flag_estonia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -155px;
}

.sprite_flag_ethiopia_small {
    width: 20px;
    height: 20px;
    background-position: -245px -155px;
}

.sprite_flag_ethiopia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -155px;
}

.sprite_flag_european_union_small {
    width: 20px;
    height: 20px;
    background-position: -305px -155px;
}

.sprite_flag_european_union_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -155px;
}

.sprite_flag_faroe_islands_small {
    width: 20px;
    height: 20px;
    background-position: -365px -155px;
}

.sprite_flag_faroe_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -155px;
}

.sprite_flag_finland_small {
    width: 20px;
    height: 20px;
    background-position: -425px -155px;
}

.sprite_flag_finland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -155px;
}

.sprite_flag_france_small {
    width: 20px;
    height: 20px;
    background-position: -485px -155px;
}

.sprite_flag_france_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -155px;
}

.sprite_flag_french_guiana_small {
    width: 20px;
    height: 20px;
    background-position: -545px -155px;
}

.sprite_flag_french_guiana_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -155px;
}

.sprite_flag_frontier_ukraine_small {
    width: 20px;
    height: 20px;
    background-position: -5px -185px;
}

.sprite_flag_frontier_ukraine_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -185px;
}

.sprite_flag_gabon_small {
    width: 20px;
    height: 20px;
    background-position: -65px -185px;
}

.sprite_flag_gabon_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -185px;
}

.sprite_flag_gagauzia_small {
    width: 20px;
    height: 20px;
    background-position: -125px -185px;
}

.sprite_flag_gagauzia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -185px;
}

.sprite_flag_gambia_small {
    width: 20px;
    height: 20px;
    background-position: -185px -185px;
}

.sprite_flag_gambia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -185px;
}

.sprite_flag_georgia_small {
    width: 20px;
    height: 20px;
    background-position: -245px -185px;
}

.sprite_flag_georgia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -185px;
}

.sprite_flag_germany_small {
    width: 20px;
    height: 20px;
    background-position: -305px -185px;
}

.sprite_flag_germany_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -185px;
}

.sprite_flag_ghana_small {
    width: 20px;
    height: 20px;
    background-position: -365px -185px;
}

.sprite_flag_ghana_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -185px;
}

.sprite_flag_greece_small {
    width: 20px;
    height: 20px;
    background-position: -425px -185px;
}

.sprite_flag_greece_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -185px;
}

.sprite_flag_greenland_small {
    width: 20px;
    height: 20px;
    background-position: -485px -185px;
}

.sprite_flag_greenland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -185px;
}

.sprite_flag_grenada_small {
    width: 20px;
    height: 20px;
    background-position: -545px -185px;
}

.sprite_flag_grenada_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -185px;
}

.sprite_flag_guernsey_small {
    width: 20px;
    height: 20px;
    background-position: -5px -215px;
}

.sprite_flag_guernsey_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -215px;
}

.sprite_flag_guinea_bissau_small {
    width: 20px;
    height: 20px;
    background-position: -65px -215px;
}

.sprite_flag_guinea_bissau_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -215px;
}

.sprite_flag_guinea_small {
    width: 20px;
    height: 20px;
    background-position: -125px -215px;
}

.sprite_flag_guinea_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -215px;
}

.sprite_flag_guyana_small {
    width: 20px;
    height: 20px;
    background-position: -185px -215px;
}

.sprite_flag_guyana_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -215px;
}

.sprite_flag_hawaiian_small {
    width: 20px;
    height: 20px;
    background-position: -245px -215px;
}

.sprite_flag_hawaiian_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -215px;
}

.sprite_flag_heard_island_and_mcdonald_islands_small {
    width: 20px;
    height: 20px;
    background-position: -305px -215px;
}

.sprite_flag_heard_island_and_mcdonald_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -215px;
}

.sprite_flag_hijaz_small {
    width: 20px;
    height: 20px;
    background-position: -365px -215px;
}

.sprite_flag_hijaz_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -215px;
}

.sprite_flag_honduras_small {
    width: 20px;
    height: 20px;
    background-position: -425px -215px;
}

.sprite_flag_honduras_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -215px;
}

.sprite_flag_hong_kong_small {
    width: 20px;
    height: 20px;
    background-position: -485px -215px;
}

.sprite_flag_hong_kong_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -215px;
}

.sprite_flag_hungary_small {
    width: 20px;
    height: 20px;
    background-position: -545px -215px;
}

.sprite_flag_hungary_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -215px;
}

.sprite_flag_iceland_small {
    width: 20px;
    height: 20px;
    background-position: -5px -245px;
}

.sprite_flag_iceland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -245px;
}

.sprite_flag_india_small {
    width: 20px;
    height: 20px;
    background-position: -65px -245px;
}

.sprite_flag_india_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -245px;
}

.sprite_flag_indonesia_small {
    width: 20px;
    height: 20px;
    background-position: -125px -245px;
}

.sprite_flag_indonesia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -245px;
}

.sprite_flag_iran_small {
    width: 20px;
    height: 20px;
    background-position: -185px -245px;
}

.sprite_flag_iran_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -245px;
}

.sprite_flag_iraq_small {
    width: 20px;
    height: 20px;
    background-position: -245px -245px;
}

.sprite_flag_iraq_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -245px;
}

.sprite_flag_ireland_small {
    width: 20px;
    height: 20px;
    background-position: -305px -245px;
}

.sprite_flag_ireland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -245px;
}

.sprite_flag_israel_small {
    width: 20px;
    height: 20px;
    background-position: -365px -245px;
}

.sprite_flag_israel_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -245px;
}

.sprite_flag_italy_small {
    width: 20px;
    height: 20px;
    background-position: -425px -245px;
}

.sprite_flag_italy_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -245px;
}

.sprite_flag_ivory_coast_small {
    width: 20px;
    height: 20px;
    background-position: -485px -245px;
}

.sprite_flag_ivory_coast_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -245px;
}

.sprite_flag_jamaica_small {
    width: 20px;
    height: 20px;
    background-position: -545px -245px;
}

.sprite_flag_jamaica_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -245px;
}

.sprite_flag_japan_small {
    width: 20px;
    height: 20px;
    background-position: -5px -275px;
}

.sprite_flag_japan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -275px;
}

.sprite_flag_jordan_small {
    width: 20px;
    height: 20px;
    background-position: -65px -275px;
}

.sprite_flag_jordan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -275px;
}

.sprite_flag_kenya_small {
    width: 20px;
    height: 20px;
    background-position: -125px -275px;
}

.sprite_flag_kenya_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -275px;
}

.sprite_flag_komi_republic_small {
    width: 20px;
    height: 20px;
    background-position: -185px -275px;
}

.sprite_flag_komi_republic_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -275px;
}

.sprite_flag_korea_small {
    width: 20px;
    height: 20px;
    background-position: -245px -275px;
}

.sprite_flag_korea_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -275px;
}

.sprite_flag_kosovo_small {
    width: 20px;
    height: 20px;
    background-position: -305px -275px;
}

.sprite_flag_kosovo_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -275px;
}

.sprite_flag_kuwait_small {
    width: 20px;
    height: 20px;
    background-position: -365px -275px;
}

.sprite_flag_kuwait_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -275px;
}

.sprite_flag_kyrgyzstan_small {
    width: 20px;
    height: 20px;
    background-position: -425px -275px;
}

.sprite_flag_kyrgyzstan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -275px;
}

.sprite_flag_lao_small {
    width: 20px;
    height: 20px;
    background-position: -485px -275px;
}

.sprite_flag_lao_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -275px;
}

.sprite_flag_latvia_small {
    width: 20px;
    height: 20px;
    background-position: -545px -275px;
}

.sprite_flag_latvia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -275px;
}

.sprite_flag_lesotho_small {
    width: 20px;
    height: 20px;
    background-position: -5px -305px;
}

.sprite_flag_lesotho_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -305px;
}

.sprite_flag_liberia_small {
    width: 20px;
    height: 20px;
    background-position: -65px -305px;
}

.sprite_flag_liberia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -305px;
}

.sprite_flag_libya_small {
    width: 20px;
    height: 20px;
    background-position: -125px -305px;
}

.sprite_flag_libya_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -305px;
}

.sprite_flag_lithuania_small {
    width: 20px;
    height: 20px;
    background-position: -185px -305px;
}

.sprite_flag_lithuania_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -305px;
}

.sprite_flag_luxembourg_small {
    width: 20px;
    height: 20px;
    background-position: -245px -305px;
}

.sprite_flag_luxembourg_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -305px;
}

.sprite_flag_macao_small {
    width: 20px;
    height: 20px;
    background-position: -305px -305px;
}

.sprite_flag_macao_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -305px;
}

.sprite_flag_macedonia_small {
    width: 20px;
    height: 20px;
    background-position: -365px -305px;
}

.sprite_flag_macedonia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -305px;
}

.sprite_flag_madagascar_small {
    width: 20px;
    height: 20px;
    background-position: -425px -305px;
}

.sprite_flag_madagascar_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -305px;
}

.sprite_flag_madeira_small {
    width: 20px;
    height: 20px;
    background-position: -485px -305px;
}

.sprite_flag_madeira_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -305px;
}

.sprite_flag_malawi_small {
    width: 20px;
    height: 20px;
    background-position: -545px -305px;
}

.sprite_flag_malawi_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -305px;
}

.sprite_flag_malaysia_small {
    width: 20px;
    height: 20px;
    background-position: -5px -335px;
}

.sprite_flag_malaysia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -335px;
}

.sprite_flag_maldives_small {
    width: 20px;
    height: 20px;
    background-position: -65px -335px;
}

.sprite_flag_maldives_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -335px;
}

.sprite_flag_mali_small {
    width: 20px;
    height: 20px;
    background-position: -125px -335px;
}

.sprite_flag_mali_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -335px;
}

.sprite_flag_malta_small {
    width: 20px;
    height: 20px;
    background-position: -185px -335px;
}

.sprite_flag_malta_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -335px;
}

.sprite_flag_marshall_islands_small {
    width: 20px;
    height: 20px;
    background-position: -245px -335px;
}

.sprite_flag_marshall_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -335px;
}

.sprite_flag_mauritania_small {
    width: 20px;
    height: 20px;
    background-position: -305px -335px;
}

.sprite_flag_mauritania_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -335px;
}

.sprite_flag_mauritius_small {
    width: 20px;
    height: 20px;
    background-position: -365px -335px;
}

.sprite_flag_mauritius_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -335px;
}

.sprite_flag_micronesia_small {
    width: 20px;
    height: 20px;
    background-position: -425px -335px;
}

.sprite_flag_micronesia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -335px;
}

.sprite_flag_monaco_small {
    width: 20px;
    height: 20px;
    background-position: -485px -335px;
}

.sprite_flag_monaco_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -335px;
}

.sprite_flag_mongolia_small {
    width: 20px;
    height: 20px;
    background-position: -545px -335px;
}

.sprite_flag_mongolia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -335px;
}

.sprite_flag_morocco_small {
    width: 20px;
    height: 20px;
    background-position: -5px -365px;
}

.sprite_flag_morocco_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -365px;
}

.sprite_flag_myanmar_small {
    width: 20px;
    height: 20px;
    background-position: -65px -365px;
}

.sprite_flag_myanmar_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -365px;
}

.sprite_flag_nagorno_karabakh_small {
    width: 20px;
    height: 20px;
    background-position: -125px -365px;
}

.sprite_flag_nagorno_karabakh_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -365px;
}

.sprite_flag_namibia_small {
    width: 20px;
    height: 20px;
    background-position: -185px -365px;
}

.sprite_flag_namibia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -365px;
}

.sprite_flag_nauru_small {
    width: 20px;
    height: 20px;
    background-position: -245px -365px;
}

.sprite_flag_nauru_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -365px;
}

.sprite_flag_nepal_small {
    width: 20px;
    height: 20px;
    background-position: -305px -365px;
}

.sprite_flag_nepal_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -365px;
}

.sprite_flag_netherlands_small {
    width: 20px;
    height: 20px;
    background-position: -365px -365px;
}

.sprite_flag_netherlands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -365px;
}

.sprite_flag_niger_small {
    width: 20px;
    height: 20px;
    background-position: -425px -365px;
}

.sprite_flag_niger_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -365px;
}

.sprite_flag_nigeria_small {
    width: 20px;
    height: 20px;
    background-position: -485px -365px;
}

.sprite_flag_nigeria_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -365px;
}

.sprite_flag_niue_small {
    width: 20px;
    height: 20px;
    background-position: -545px -365px;
}

.sprite_flag_niue_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -365px;
}

.sprite_flag_nortern_korea_small {
    width: 20px;
    height: 20px;
    background-position: -5px -395px;
}

.sprite_flag_nortern_korea_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -395px;
}

.sprite_flag_norway_small {
    width: 20px;
    height: 20px;
    background-position: -65px -395px;
}

.sprite_flag_norway_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -395px;
}

.sprite_flag_pacific_ocean_small {
    width: 20px;
    height: 20px;
    background-position: -125px -395px;
}

.sprite_flag_pacific_ocean_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -395px;
}

.sprite_flag_pakistan_small {
    width: 20px;
    height: 20px;
    background-position: -185px -395px;
}

.sprite_flag_pakistan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -395px;
}

.sprite_flag_palau_small {
    width: 20px;
    height: 20px;
    background-position: -245px -395px;
}

.sprite_flag_palau_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -395px;
}

.sprite_flag_palestinian_small {
    width: 20px;
    height: 20px;
    background-position: -305px -395px;
}

.sprite_flag_palestinian_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -395px;
}

.sprite_flag_paraguay_small {
    width: 20px;
    height: 20px;
    background-position: -365px -395px;
}

.sprite_flag_paraguay_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -395px;
}

.sprite_flag_peru_small {
    width: 20px;
    height: 20px;
    background-position: -425px -395px;
}

.sprite_flag_peru_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -395px;
}

.sprite_flag_philippines_small {
    width: 20px;
    height: 20px;
    background-position: -485px -395px;
}

.sprite_flag_philippines_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -395px;
}

.sprite_flag_poland_small {
    width: 20px;
    height: 20px;
    background-position: -545px -395px;
}

.sprite_flag_poland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -395px;
}

.sprite_flag_puerto_rico_small {
    width: 20px;
    height: 20px;
    background-position: -5px -425px;
}

.sprite_flag_puerto_rico_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -425px;
}

.sprite_flag_qatar_small {
    width: 20px;
    height: 20px;
    background-position: -65px -425px;
}

.sprite_flag_qatar_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -425px;
}

.sprite_flag_romania_small {
    width: 20px;
    height: 20px;
    background-position: -125px -425px;
}

.sprite_flag_romania_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -425px;
}

.sprite_flag_russia_small {
    width: 20px;
    height: 20px;
    background-position: -185px -425px;
}

.sprite_flag_russia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -425px;
}

.sprite_flag_rwanda_small {
    width: 20px;
    height: 20px;
    background-position: -245px -425px;
}

.sprite_flag_rwanda_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -425px;
}

.sprite_flag_saba_small {
    width: 20px;
    height: 20px;
    background-position: -305px -425px;
}

.sprite_flag_saba_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -425px;
}

.sprite_flag_saint_kitts_and_nevis_small {
    width: 20px;
    height: 20px;
    background-position: -365px -425px;
}

.sprite_flag_saint_kitts_and_nevis_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -425px;
}

.sprite_flag_saint_martin_small {
    width: 20px;
    height: 20px;
    background-position: -425px -425px;
}

.sprite_flag_saint_martin_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -425px;
}

.sprite_flag_saint_vincent_grenadines_small {
    width: 20px;
    height: 20px;
    background-position: -485px -425px;
}

.sprite_flag_saint_vincent_grenadines_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -425px;
}

.sprite_flag_samoa_small {
    width: 20px;
    height: 20px;
    background-position: -545px -425px;
}

.sprite_flag_samoa_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -425px;
}

.sprite_flag_sao_tome_small {
    width: 20px;
    height: 20px;
    background-position: -5px -455px;
}

.sprite_flag_sao_tome_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -455px;
}

.sprite_flag_scotland_small {
    width: 20px;
    height: 20px;
    background-position: -65px -455px;
}

.sprite_flag_scotland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -455px;
}

.sprite_flag_sea_ukraine_small {
    width: 20px;
    height: 20px;
    background-position: -125px -455px;
}

.sprite_flag_sea_ukraine_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -455px;
}

.sprite_flag_senegal_small {
    width: 20px;
    height: 20px;
    background-position: -185px -455px;
}

.sprite_flag_senegal_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -455px;
}

.sprite_flag_serbia_small {
    width: 20px;
    height: 20px;
    background-position: -245px -455px;
}

.sprite_flag_serbia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -455px;
}

.sprite_flag_seychelles_small {
    width: 20px;
    height: 20px;
    background-position: -305px -455px;
}

.sprite_flag_seychelles_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -455px;
}

.sprite_flag_sierra_leone_small {
    width: 20px;
    height: 20px;
    background-position: -365px -455px;
}

.sprite_flag_sierra_leone_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -455px;
}

.sprite_flag_singapore_small {
    width: 20px;
    height: 20px;
    background-position: -425px -455px;
}

.sprite_flag_singapore_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -455px;
}

.sprite_flag_slovakia_small {
    width: 20px;
    height: 20px;
    background-position: -485px -455px;
}

.sprite_flag_slovakia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -455px;
}

.sprite_flag_slovenia_small {
    width: 20px;
    height: 20px;
    background-position: -545px -455px;
}

.sprite_flag_slovenia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -455px;
}

.sprite_flag_solomon_islands_small {
    width: 20px;
    height: 20px;
    background-position: -5px -485px;
}

.sprite_flag_solomon_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -485px;
}

.sprite_flag_somalia_small {
    width: 20px;
    height: 20px;
    background-position: -65px -485px;
}

.sprite_flag_somalia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -485px;
}

.sprite_flag_south_africa_small {
    width: 20px;
    height: 20px;
    background-position: -125px -485px;
}

.sprite_flag_south_africa_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -485px;
}

.sprite_flag_south_ossetia_small {
    width: 20px;
    height: 20px;
    background-position: -185px -485px;
}

.sprite_flag_south_ossetia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -485px;
}

.sprite_flag_south_sudan_small {
    width: 20px;
    height: 20px;
    background-position: -245px -485px;
}

.sprite_flag_south_sudan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -485px;
}

.sprite_flag_spain_small {
    width: 20px;
    height: 20px;
    background-position: -305px -485px;
}

.sprite_flag_spain_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -485px;
}

.sprite_flag_st_eustatius_small {
    width: 20px;
    height: 20px;
    background-position: -365px -485px;
}

.sprite_flag_st_eustatius_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -485px;
}

.sprite_flag_st_lucia_small {
    width: 20px;
    height: 20px;
    background-position: -425px -485px;
}

.sprite_flag_st_lucia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -485px;
}

.sprite_flag_suriname_small {
    width: 20px;
    height: 20px;
    background-position: -485px -485px;
}

.sprite_flag_suriname_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -485px;
}

.sprite_flag_sweden_small {
    width: 20px;
    height: 20px;
    background-position: -545px -485px;
}

.sprite_flag_sweden_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -485px;
}

.sprite_flag_switzerland_small {
    width: 20px;
    height: 20px;
    background-position: -5px -515px;
}

.sprite_flag_switzerland_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -515px;
}

.sprite_flag_syrian_arab_republic_small {
    width: 20px;
    height: 20px;
    background-position: -65px -515px;
}

.sprite_flag_syrian_arab_republic_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -515px;
}

.sprite_flag_taiwan_small {
    width: 20px;
    height: 20px;
    background-position: -125px -515px;
}

.sprite_flag_taiwan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -515px;
}

.sprite_flag_tajikistan_small {
    width: 20px;
    height: 20px;
    background-position: -185px -515px;
}

.sprite_flag_tajikistan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -515px;
}

.sprite_flag_tanzania_small {
    width: 20px;
    height: 20px;
    background-position: -245px -515px;
}

.sprite_flag_tanzania_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -515px;
}

.sprite_flag_tatarstan_small {
    width: 20px;
    height: 20px;
    background-position: -305px -515px;
}

.sprite_flag_tatarstan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -515px;
}

.sprite_flag_thailand_small {
    width: 20px;
    height: 20px;
    background-position: -365px -515px;
}

.sprite_flag_thailand_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -515px;
}

.sprite_flag_timor_leste_small {
    width: 20px;
    height: 20px;
    background-position: -425px -515px;
}

.sprite_flag_timor_leste_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -515px;
}

.sprite_flag_togo_small {
    width: 20px;
    height: 20px;
    background-position: -485px -515px;
}

.sprite_flag_togo_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -515px;
}

.sprite_flag_tonga_small {
    width: 20px;
    height: 20px;
    background-position: -545px -515px;
}

.sprite_flag_tonga_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -515px;
}

.sprite_flag_trinidad_and_tobago_small {
    width: 20px;
    height: 20px;
    background-position: -5px -545px;
}

.sprite_flag_trinidad_and_tobago_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -545px;
}

.sprite_flag_trnc_small {
    width: 20px;
    height: 20px;
    background-position: -65px -545px;
}

.sprite_flag_trnc_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -545px;
}

.sprite_flag_tunisia_small {
    width: 20px;
    height: 20px;
    background-position: -125px -545px;
}

.sprite_flag_tunisia_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -545px;
}

.sprite_flag_turkey_small {
    width: 20px;
    height: 20px;
    background-position: -185px -545px;
}

.sprite_flag_turkey_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -545px;
}

.sprite_flag_tuvalu_small {
    width: 20px;
    height: 20px;
    background-position: -245px -545px;
}

.sprite_flag_tuvalu_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -545px;
}

.sprite_flag_ukraine_small {
    width: 20px;
    height: 20px;
    background-position: -305px -545px;
}

.sprite_flag_ukraine_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -545px;
}

.sprite_flag_united_arab_emirates_small {
    width: 20px;
    height: 20px;
    background-position: -365px -545px;
}

.sprite_flag_united_arab_emirates_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -545px;
}

.sprite_flag_united_kingdom_small {
    width: 20px;
    height: 20px;
    background-position: -425px -545px;
}

.sprite_flag_united_kingdom_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -545px;
}

.sprite_flag_unknow_10_small {
    width: 20px;
    height: 20px;
    background-position: -485px -545px;
}

.sprite_flag_unknow_10_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -545px;
}

.sprite_flag_unknow_11_small {
    width: 20px;
    height: 20px;
    background-position: -545px -545px;
}

.sprite_flag_unknow_11_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -545px;
}

.sprite_flag_unknow_12_small {
    width: 20px;
    height: 20px;
    background-position: -5px -575px;
}

.sprite_flag_unknow_12_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -575px;
}

.sprite_flag_unknow_13_small {
    width: 20px;
    height: 20px;
    background-position: -65px -575px;
}

.sprite_flag_unknow_13_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -575px;
}

.sprite_flag_unknow_14_small {
    width: 20px;
    height: 20px;
    background-position: -125px -575px;
}

.sprite_flag_unknow_14_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -575px;
}

.sprite_flag_unknow_15_small {
    width: 20px;
    height: 20px;
    background-position: -185px -575px;
}

.sprite_flag_unknow_15_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -575px;
}

.sprite_flag_unknow_16_small {
    width: 20px;
    height: 20px;
    background-position: -245px -575px;
}

.sprite_flag_unknow_16_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -575px;
}

.sprite_flag_unknow_17_small {
    width: 20px;
    height: 20px;
    background-position: -305px -575px;
}

.sprite_flag_unknow_17_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -575px;
}

.sprite_flag_unknow_18_small {
    width: 20px;
    height: 20px;
    background-position: -365px -575px;
}

.sprite_flag_unknow_18_small_bw {
    width: 20px;
    height: 20px;
    background-position: -395px -575px;
}

.sprite_flag_unknow_1_small {
    width: 20px;
    height: 20px;
    background-position: -425px -575px;
}

.sprite_flag_unknow_1_small_bw {
    width: 20px;
    height: 20px;
    background-position: -455px -575px;
}

.sprite_flag_unknow_2_small {
    width: 20px;
    height: 20px;
    background-position: -485px -575px;
}

.sprite_flag_unknow_2_small_bw {
    width: 20px;
    height: 20px;
    background-position: -515px -575px;
}

.sprite_flag_unknow_3_small {
    width: 20px;
    height: 20px;
    background-position: -545px -575px;
}

.sprite_flag_unknow_3_small_bw {
    width: 20px;
    height: 20px;
    background-position: -575px -575px;
}

.sprite_flag_unknow_4_small {
    width: 20px;
    height: 20px;
    background-position: -605px -5px;
}

.sprite_flag_unknow_4_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -35px;
}

.sprite_flag_unknow_5_small {
    width: 20px;
    height: 20px;
    background-position: -605px -65px;
}

.sprite_flag_unknow_5_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -95px;
}

.sprite_flag_unknow_6_small {
    width: 20px;
    height: 20px;
    background-position: -605px -125px;
}

.sprite_flag_unknow_6_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -155px;
}

.sprite_flag_unknow_7_small {
    width: 20px;
    height: 20px;
    background-position: -605px -185px;
}

.sprite_flag_unknow_7_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -215px;
}

.sprite_flag_unknow_8_small {
    width: 20px;
    height: 20px;
    background-position: -605px -245px;
}

.sprite_flag_unknow_8_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -275px;
}

.sprite_flag_unknow_9_small {
    width: 20px;
    height: 20px;
    background-position: -605px -305px;
}

.sprite_flag_unknow_9_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -335px;
}

.sprite_flag_uruguay_small {
    width: 20px;
    height: 20px;
    background-position: -605px -365px;
}

.sprite_flag_uruguay_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -395px;
}

.sprite_flag_usa_small {
    width: 20px;
    height: 20px;
    background-position: -605px -425px;
}

.sprite_flag_usa_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -455px;
}

.sprite_flag_uzbekistan_small {
    width: 20px;
    height: 20px;
    background-position: -605px -485px;
}

.sprite_flag_uzbekistan_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -515px;
}

.sprite_flag_venezuela_small {
    width: 20px;
    height: 20px;
    background-position: -605px -545px;
}

.sprite_flag_venezuela_small_bw {
    width: 20px;
    height: 20px;
    background-position: -605px -575px;
}

.sprite_flag_vietnam_small {
    width: 20px;
    height: 20px;
    background-position: -5px -605px;
}

.sprite_flag_vietnam_small_bw {
    width: 20px;
    height: 20px;
    background-position: -35px -605px;
}

.sprite_flag_wallis_and_futuna_islands_small {
    width: 20px;
    height: 20px;
    background-position: -65px -605px;
}

.sprite_flag_wallis_and_futuna_islands_small_bw {
    width: 20px;
    height: 20px;
    background-position: -95px -605px;
}

.sprite_flag_western_sahara_2_small {
    width: 20px;
    height: 20px;
    background-position: -125px -605px;
}

.sprite_flag_western_sahara_2_small_bw {
    width: 20px;
    height: 20px;
    background-position: -155px -605px;
}

.sprite_flag_western_sahara_small {
    width: 20px;
    height: 20px;
    background-position: -185px -605px;
}

.sprite_flag_western_sahara_small_bw {
    width: 20px;
    height: 20px;
    background-position: -215px -605px;
}

.sprite_flag_yemen_small {
    width: 20px;
    height: 20px;
    background-position: -245px -605px;
}

.sprite_flag_yemen_small_bw {
    width: 20px;
    height: 20px;
    background-position: -275px -605px;
}

.sprite_flag_zanzibar_small {
    width: 20px;
    height: 20px;
    background-position: -305px -605px;
}

.sprite_flag_zanzibar_small_bw {
    width: 20px;
    height: 20px;
    background-position: -335px -605px;
}
